# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/
anaconda/
*.conda

# Environment variables (IMPORTANT)
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Build / dist
build/
dist/
*.egg-info/

# Secrets / keys
*.pem
*.key